<div id="<%= dom_id profile %>">

  <div class="O_ProfileHead">

    <div class="A_ProfileAvatar">
      <%= image_tag profile.avatar %> 
    </div>

    <div class="M_TextInfo">

      <div class="A_Name">
        @<%= profile.name %>
      </div>


      <div class="A_Biography">
        <%= profile.bio %>
      </div>

    </div>

    <div class="M_SubInfo">

      <div class="A_TaskTitle">
        <%= link_to "Редактировать", edit_profile_path(@profile) %> 
      </div>


      <div class="A_DangerZone">
        <%#  link_to "Back to profiles", profiles_path %>
        <% if can?(:update, @profile) || can?(:destroy, @profile) || current_user&.admin? %>
          <%= button_to "Удалить профиль", @profile, method: :delete %>
        <% end %>
      </div>

    </div>



  </div>

  <%# Tabs %>
  <%= render "tabs_profile" %>






</div>
