
<div class="M_WelcomeLogin">
  <h2>РАДЫ ЧТО ТЫ С НАМИ!</h2>
  <br>
  <p>Для регистрации введи свои данные <br>
   в поля ниже</p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field A_LoginForm">
    <%#= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field A_LoginForm">
    <%#= f.label :password %>
    <% if @minimum_password_length %>
    <em><%#= @minimum_password_length %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field A_LoginForm">
    <%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Repeat password" %>
  </div>

  <div class="actions A_Button">
    <%= f.submit "Зарегистрироваться" %>
  </div>
<% end %>


<div class="A_DivideLine">
  <hr>
  <p>или</p>
  <hr>
</div>
<div class="A_SharedLinks">
  <%= render "devise/shared/links" %>
</div>
