<%= form_with(model: [@theme, Task.new], local: true) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="O_AnswerForm">
  <div class="M_AnswerImgUpload">
        <%#= form.label :answer_img, style: "display: block" %>
    <%= form.file_field :image %>    
  </div>

  <div class="M_AnswerTxTUpload">

    <div class="A_AnswerTitleField">
      <%#= form.label :name, style: "display: block" %>
      <%= form.text_field :name, placeholder: "Название таска" %>
    </div>
      
    <div class="A_AnswerDesc">
        <%#= form.label :descroption, style: "display: block" %>
        <%= form.text_field :descroption, placeholder: "Описание таска" %>
    </div>

    <div class="ButtonAction">
      <%= form.submit %>
    </div>

  </div>
</div>






  <div>
     <%= form.hidden_field :theme_id %>
  </div>
  
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
      <%= form.hidden_field :username, value: current_user.email %>
  </div>

<% end %>
