<div id="<%= dom_id task %>" class="O_TaskCardM">

  <div class="M_TaskTxtContent">

    <h2 class="A_TaskTitle">
      <%= task.name %>
    </h2>

    <p class="A_TaskText">
      <%= task.descroption %>
    </p>

    <%= link_to "Посмотреть", task %>

  </div>


  <div class="A_TaskImg">
   <%= image_tag task.image.url, height: 300 %>
  </div>

</div>
