<p style="color: green"><%= notice %></p>



<div class="O_TaskCardS">
  <%= render @task %>
  <%= link_to "Edit this task", edit_task_path(@task) %>
</div>
<%
  set_meta_tags(
    title: "Задания",
    description: "Расшатай привычное представление о скучном дизайне вместе с РеДиз!",
    keywords: "дизайн, редизайн, референсы, вдохновение"
  )
%>

<div>
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>

<br>
<br>

<div>
  <% if user_signed_in? %>
    <%= link_to "Добавить редизку", new_task_answer_path(task_id: @task.id) %>
  <%end%>
</div>




<div id="answers" class="W_TaskAnswers">
  <% @task.answers.each do |answer| %>
    <%= render answer %>
  <% end %>
</div>
