<div id="<%= dom_id theme %>" class="O_Theme_CardM">

  <div class="A_ThemeCover">
    <%= image_tag theme.theme_cover %>
  </div>

  <div class="M_ThemeText">
      <h1>
        <%= link_to theme.theme_title, theme %>
      </h1>

      <p>
        112 
        <br> 
        таска
      </p>
  </div>


  <%# <%= link_to "Edit this theme", edit_theme_path(@theme) %> 
  <%# <%= link_to "Back to themes", themes_path %>









</div>
