<div id="<%= dom_id answer %>" class="C_AnswerCard">

  <div class="M_AnswerTXT">
    <p>
      <%= answer.user_name %>
    </p>

    <p>
      <%= answer.description %>
    </p>


  </div>

  <div class="C_AnswerContent">

    <div class="M_AnswerTopC">
      <div class="A_AnswerProfile">
             <%= link_to "Show this answer", answer %>
      </div>

      <div class="A_AnswerTheme">

      </div>
    </div>




    <div class="A_AnswerImg">

    <%= image_tag answer.answer_img.url, height: 300 %>

    </div>

    
    
  </div>



 


</div>
