<%= form_with(model: [@task, answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="O_AnswerForm">


    <div class="M_AnswerImgUpload">
        <%#= form.label :answer_img, style: "display: block" %>
        <%= form.file_field :answer_img %>
    </div>


    <div class="M_AnswerTxTUpload">


      <div class="A_AnswerDesc">
        <%#= form.label :description, style: "display: block" %>
        <%= form.text_field :description, placeholder: "Описание редизки" %>
      </div>

      <div class="ButtonAction">
        <%= form.submit 'Добавить редизку' %>
      </div>

    </div>


  </div>



  <div>
      <%= form.hidden_field :task_id %>
  </div>

  <div>
    <%#= form.label :user_name, style: "display: block" %>
    <%= form.hidden_field :user_name, value: current_user.email %>
  </div>

  <div>
      <%= form.hidden_field :user_id %>
      <%= form.hidden_field :user_name_title, value: current_user.email %>
  </div>


<% end %>
