<div class="M_Menubar">

  <%= image_tag("A_Logo_Header.svg", alt: "Картинка логотипа") %>

  <div class="M_LinksHeader">
    <%= link_to 'Главная', root_path %>
    <%= link_to 'Темы', themes_path %>
    <%= link_to 'Блог', posts_path %>
  </div>




  <div class="M_LoginSets">
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %>
      <%#= link_to "Profile", user_profile_path(current_user, @profile) %>
      <%# <% if current_user.profile.persisted? %> 
      <%= link_to "View Profile", profile_path(current_user) %>

    <% else %>
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Зарегистрироваться", new_user_registration_path %>



    <% end %>
  </div>


</div>