<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Redis App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menubar' %>
    <p style="color: var(--redis_red, #a2062f)"><%= alert %></p>
    <br>
    <br>
    <br>
    <%# <%= api_v1_tasks_url %>
    <%# <%= api_v1_answers_url %> 
     <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
